<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ycx36.newems">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/esmapp"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/mNoTitleStyle">
        <activity android:name=".view.activity.activity_TrendAnalysis.activity_rcm"></activity>
        <activity android:name=".view.activity.activity_TrendAnalysis.activity_cpu" />
        <activity android:name=".view.activity.activity_TrendAnalysis.activity_mcu" />
        <activity android:name=".view.activity.activity_TrendAnalysis.activity_bms" />
        <activity android:name=".view.activity.activity_FailureTrendAnalysis" />
        <activity android:name=".view.activity.activity_ownerPosition" />
        <activity android:name=".view.activity.activity_violationDetection" />
        <activity android:name=".view.activity.activity_carInfo" />
        <activity android:name=".view.activity.activity_aboutUs" />
        <activity android:name=".view.activity.activity_phoneSet" />
        <activity android:name=".view.activity.activity_alarmSet" />
        <activity android:name=".view.activity.activity_carSet" />
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.ExaminationActivity" />
        <activity android:name=".view.activity.activity_fromDiscover" />
        <activity android:name=".view.activity.activity_CauseOfFailure" />
        <activity android:name=".view.activity.activity_Register" />
        <activity
            android:name=".view.activity.activity_SignIn"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.activity.activity_changeInfo" />
        <activity android:name=".view.activity.activity_Register_phone" />
        <activity android:name=".view.activity.activity_Register_Vcode" />
        <activity android:name=".view.activity.activity_CurrentInformation" />
    </application>

</manifest>